*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
/* INDEX.HTML */
/* background */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
/* logo */
.logo{
    width: 110px;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 16px;
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
/* side nav content */
.sidenav{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #6F8FAF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    
} 
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: bisque;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .closebtn{
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 36px;
    margin-left: 50px;
}
/* hamburger menu */
.topright{
    position: absolute;
    top: 12px;
    right: 40px;
    font-size: 18px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
/* lightning animation */
.lightning img{
    width: 110px;
    animation: lightnings 7s linear infinite;
}
.lightning{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -90px;
}
@keyframes lightnings{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.lightning img:nth-child(1){
    animation-delay: 2s;
}
.lightning img:nth-child(2){
    animation-delay: 1s;
}
.lightning img:nth-child(3){
    animation-delay: 3.5s;
}
.lightning img:nth-child(4){
    animation-delay: 4.5s;
}
.lightning img:nth-child(5){
    animation-delay: 6s;
}
.lightning img:nth-child(6){
    animation-delay: 2.5s;
}
.lightning img:nth-child(7){
    animation-delay: 5s;
}
/* textbox */       
.text-box{ 
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 120px;
    white-space: nowrap;
}
.text-box p{
    font-size: 50px;
}
/* store */
.items h1{
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
}
.items p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.items{
    background: lavender;
}
.items-row img{
    height: 450px;
    width: 250px;
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}
.items-row{
    padding-top: 20px;
    width: 10%;
    position: relative;
    justify-content: center;
    display: flex;
    left: 45%;
    padding-bottom: 60px;
    cursor: pointer;
}
.over-one{
    height: 450px;
    width: 250px;
    background: pink;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: -403px;
    opacity: 60%;
    transition: 0.7s, ease;
}
.over-one h2{
    font-size: 25px;
    color: black;
    text-decoration: none;
}
.over-two{
    height: 450px;
    width: 250px;
    background: #9BD3DD;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: -53px;
    opacity: 60%;
    transition: 0.7s, ease;
}
.over-two h2{
    font-size: 25px;
    color: black;
    text-decoration: none;
}
.over-three{
    height: 450px;
    width: 250px;
    background: #AFE1AF;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: 297px;
    opacity: 60%;
    transition: 0.7s, ease;
}
.over-three h2{
    font-size: 25px;
    color: black;
    text-decoration: none;
}
/* quiz call to action in index page */
.cta{
    width: 100%;
    height: 31vh;
    background-image: url(images/cta.png);
    display: flex;
    flex-direction: column;
    position: absolute;

}
/* text cta */
.question{
    width: 75%;
    color: #321a18;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.question h1{
    font-size: 65px;
}
.question h2{
    padding-top: 4px;
    font-size: 30px;
}
.question h3{
    font-size: 25px;
}
/* inquire button */
.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    padding: 8px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    top: 1.5vh;
}
.btn:hover{
    border: 3px solid black;
    background: #9370DB;
    color: lavender;
}





/* ABOUTME.HTML */
/* background */
.about-h{
    background: #AFE1AF;
}
/* animation */
.about-me{
    width: 100%;
    height: 80vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.about-me h1{
    font-size: 100px;
    font-weight: 600;
}
.span{
    color: #9370DB;
}
/* content */





/* QUIZ.HTML */
.quizheader{
    background: url(images/backgroundquiz.png);
}
.quiz-home{
    justify-content: baseline;
    align-items: center;
    position: absolute;
    font-size: 70px;
    color: #5F8575;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.quiz-btn{
    padding-bottom: 300px;
    display: inline-block;
    text-decoration: none;
    color: #5F8575;
    border: 3px solid #5F8575;
    padding: 8px 34px;
    font-size: 50px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    top: 1.5vh;
}
.quiz-home h1{
    justify-content: center;
    align-content: center;
}




/* LOGIN.HTML */





/* LOADING */
.animation-center{
    justify-content: center;
    align-items: center;
    left: 50%;
    background-color: azure;
    width: 100%;
    height: 100%;
}









/* SITE.HTML */
.site{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/site.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}




/* MEDIA WIDTH */
@media screen and (max-width: 598px) {
    /* INDEX.HTML */
    /* side nav */ 
    .sidenav {
        padding-top: 30px;
        width: 200px;
    }
    .sidenav a {font-size: 28px;}
    .sidenav .closebtn{font-size: 50px;}
    .topright{font-size: 30px;
    top: 25px;
    }
    .logo{width: 150px;}
    .text-box{
        left: 50%;
    }
    .text-box h1{
        font-size: 60px;
        text-align: center;
    }
    .text-box p{
        text-align: center;
        top: 30vh;
    }
    /* store */
    .items-row{
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .items-row img{
        height: 400px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .over-one{
        height: 400px;
        left: -95px;
        top: 60px;
    }
    .over-two{
        height: 400px;
        left: -95px;
        top: 540px;
    }
    .over-three{
        height: 400px;
        left: -95px;
        top: 1020px;
    }
    /* call to action */
    .cta{
        height: 25vh;
    }
    .question{
        text-align: center;
        left: 50%;
        top: 45%;
        color: black;
        
    }
    .question h1{
        font-size: 60px;
    }
    .question h2{
        font-size: 35px;
    }
    .question h3{
        font-size: 25px;
    }
    .btn{
        padding: 8px 20px;
        font-size: 15px;
        top: 1vh;
    }  


    /* ABOUTME.HTML */
    .about-me h1{
        font-size: 80px;
        font-weight: 550;
    }
  

    /* QUIZ.HTML */
    .quiz-home{
        left: 16%;
    }


    /* SITE.HTML*/
    .site{
        background-image: url(images/sitehome.png);
    }


    /* FOOTER */
    .footer{
        padding-top: 300px;
    }

  
}

